<div class="card position-fixed" style="width: 360px">
  <div class="card-header"><h4>Order Details</h4></div>
  <div class="card-body">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems; let i = index">
          <td>{{item.name}}</td>
          <td>{{item.quantity}}</td>
          <td>
            <button class="btn btn-danger" (click)="removeItem(i)">X</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer">
    <div [hidden]="orderItems==undefined || orderItems.length === 0">
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="pwd">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="emailAddress">
      </div>
    </div>
    <button class="btn btn-success" (click)="placeOrder()" [disabled]="orderItems==undefined || orderItems.length === 0 || !inputParamsValid()">Place Order</button>
  </div>
  <div class="alert alert-success" [hidden]="!showSuccessMsg">
    <strong>Success!</strong> The order has been submitted successfully.
  </div>
  <div class="alert alert-danger"  [hidden]="!showErrorMsg">
    <strong>Error!</strong> Order submission failed.
  </div>
</div>



