<div class="list-group-item clearfix mt-2" >
  <div class="pull-left">

    <h4 class="list-group-item-heading">{{productItem.name}}</h4>
    <p class="list-group-item-text">{{productItem.description}}</p>

    <hr />
    <span><b>{{rateEvent.selectedCurrency}} {{(rateEvent.selectedRate * productItem.unitPrice).toFixed(2)}}</b></span>

    <form class="form-inline">
      <label>Order: </label>
      <input type="number" class="form-control ml-2" placeholder="Quantity" (input)="onQuantityChange($event.target.value)">
      <button type="button" class="btn btn-success  ml-2" (click)="addProductToOrder()" [disabled]="!isQtyValid()">Add</button>
    </form>

  </div>
</div>

